@keyframes slide-in-from-left {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-from-left {
  animation: slide-in-from-left 200ms ease-in-out;
}

.slide-in-from-right {
  animation: slide-in-from-right 200ms ease-in-out;
}